.title {
   font-size: 24px;
}

.SlideContainer {
   margin-bottom: 80px;
}

.StyledLink {
   display: flex;
   flex-direction: column;
}

.CustomSlide {
   display: flex;
   justify-content: center;
   flex-direction: column;
   max-width: 352px;
   width: 100%;
   margin: 10px auto 0;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   border-radius: 20px;
   cursor: pointer;
}

.SliderTitle {
   margin-bottom: 20px;
   padding: 0 20px;
   text-overflow: ellipsis;
   overflow: hidden;
   height: 60px;
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   color: #313037;
}

.SliderPrice {
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   color: #313037;
   padding: 0 20px 10px;
}
