.wrapper {
   display: block;
   position: relative;
}

.wrapper:after {
   content: " ";
   display: block;
   border-bottom: 2px solid #313037;
   width: 239px;
   position: absolute;
   top: 17.2%;
   left: 27.4%;
}

.containerText {
   position: absolute;
   top: 68%;
   left: 32%;
}

@media (max-width: 568px) {
   .containerText {
      top: 72%;
      left: 5%;
   }
}
