.wrapper {
   display: block;
   position: relative;
}

.wrapper:after {
   content: " ";
   display: block;
   border-bottom: 2px solid var(--primary-title);
   max-width: 220px;
   width: 100%;
   position: absolute;
   top: 17.2%;
   left: 29.2%;
}

.containerText {
   position: absolute;
   top: 68%;
   left: 32%;
}

.text {
   color: var(--iconFav);
}

@media (max-width: 568px) {
   .containerText {
      top: 72%;
      left: 5%;
   }
}
