.wrapperBook {
   display: flex;
   margin-bottom: 72px;
}

.containerPic {
   max-width: 544px;
   width: 100%;
   padding: 61px 0px;
   margin-right: 128px;
   position: relative;
   background-color: #fee9e2;
}

.pic {
   display: block;
   margin: 0 auto;
}

.containerBook {
   max-width: 448px;
   width: 100%;
   border-top: 1px solid #e7e7e7;
}

.containerBookPrice {
   display: flex;
   justify-content: space-between;
   align-items: center;
   grid-gap: 18px;
   margin: 41px 0 24px;
}

.bookPrice {
   font-size: 40px;
   font-weight: 700;
   line-height: 60px;
}

.bookList {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 90px;
   row-gap: 15px;
   margin-bottom: 30px;
}

.nameField {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   font-weight: 400;
   color: #a8a8a8;
}

.fieldValue {
   font-size: 16px;
   line-height: 32px;
   color: #313037;
   line-height: 20px;
}

.containerButton {
   margin-bottom: 20px;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   cursor: pointer;
}

.button {
   width: 100%;
   margin: 0 auto 20px;
}
