.bookTitle {
   margin: 0;
}

.wrapperBook {
   display: flex;
   justify-content: space-between;
   margin-bottom: 72px;
}

.containerPic {
   max-width: 544px;
   width: 100%;
   position: relative;
   background: var(--first-item);
}

.pic {
   display: block;
   margin: 0 auto;
}

.containerBook {
   max-width: 465px;
   width: 100%;
   border-top: 1px solid #e7e7e7;
}

.containerBookPrice {
   display: flex;
   justify-content: space-between;
   align-items: center;
   grid-gap: 18px;
   margin: 41px 0 24px;
   color: var(--primary-title);
}

.bookPrice {
   font-size: 40px;
   font-weight: 700;
}

.bookList {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 90px;
   row-gap: 15px;
   margin-bottom: 30px;
}

.nameField {
   font-size: 16px;
   color: #a8a8a8;
   margin: 0;
}

.fieldValue {
   font-size: 16px;
   color: var(--primary-title);
}

.containerButton {
   font-weight: 400;
   font-size: 16px;
   cursor: pointer;
}

.button {
   width: 100%;
   margin: 0 auto;
}

.containerDesc {
   margin-bottom: 100px;
}

.DescTitle {
   font-size: 18px;
   font-weight: 600;
   color: #313037;
   margin-bottom: 40px;
   position: relative;
}

.DescTitle:after {
   content: " ";
   display: block;
   border-bottom: 1px solid #e7e7e7;
   max-width: 100%;
   width: 100%;
   position: absolute;
   top: calc(100% + 20px);
}

.DescText {
   font-size: 16px;
   font-weight: 400;
   color: #313037;
}

.buttonFav {
   position: absolute;
   top: 0;
   right: 15px;
   padding: 14px 12px;
   background-color: var(--ui-item);
}

.buttonFav:hover,
.buttonFav:active svg {
   fill: var(--iconFav);
}

.buttonFav path {
   stroke: var(--iconFav);
}

@media (max-width: 1100px) {
   .wrapperBook {
      flex-direction: column;
      display: flex;
      align-self: auto;
   }
   .containerPic {
      max-width: 100%;
   }
   .containerBook {
      max-width: 100%;
      justify-content: space-between;
   }
   .fieldValue {
      text-align: right;
   }
}

@media (max-width: 568px) {
   .wrapperBook {
      flex-direction: column;
      margin-bottom: 50px;
   }
   .bookList {
      grid-template-columns: 1fr;
      text-overflow: ellipsis;
      overflow: hidden;
   }
   .containerDesc {
      margin: 0 auto 50px;
   }
   .fieldValue {
      text-align: left;
   }
}
