.root {
   position: relative;
   width: 60px;
   height: 25px;
}

.inputToggle {
   display: none;
}

.slider {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   overflow: hidden;
   background-color: #e74a42;
   border-radius: 25px;
   cursor: pointer;
   transition: all 1.4s;
}

.slider:before,
.slider:after {
   content: "";
   position: absolute;
   bottom: 2.5px;
   left: 2.5px;
   width: 20px;
   height: 20px;
   border-radius: 15px;
   background-color: #ffffff;
}

.slider:before,
.slider:after {
   transition: 0.4s;
}

.wave {
   position: absolute;
   top: 0;
   left: 0;
   width: 60px;
   height: 25px;
   border-radius: 20px;
   transition: all 1.4s;
}

.inputToggle:checked + .slider {
   background-color: transparent;
}

.inputToggle:checked + .slider:before,
.inputToggle:checked + .slider:after {
   transform: translateX(35px);
}

.inputToggle:checked ~ .wave {
   display: block;
   background-color: #eec511;
}
