.input {
   display: block;
   font-size: 16px;
   line-height: 32px;
   padding: 12px 20px;
   outline: none;
   border: 1px solid #e7e7e7;
   margin: 10px 0 20px;
   width: 482px;
}

.label {
   font-size: 16px;
   line-height: 32px;
   font-weight: 700;
}
