.wrapper {
   max-width: 1120px;
   width: 100%;
   margin: 0 auto;
}

.title {
   font-size: 56px;
   font-weight: 700;
   color: #313037;
   text-transform: uppercase;
   padding: 40px 0;
}

@media (max-width: 1024px) {
   .title {
      font-size: 56px;
   }
}

@media (max-width: 568px) {
   .title {
      font-size: 32px;
      text-align: center;
      margin: 0 auto;
   }
}
