.title {
   font-size: 56px;
   font-weight: 700;
   color: var(--primary-title);
   text-transform: uppercase;
   padding: 40px 0;
}

@media (max-width: 1024px) {
   .title {
      font-size: 56px;
   }
}

@media (max-width: 568px) {
   .title {
      font-size: 32px;
      text-align: center;
      margin: 0 auto;
   }
}
