#root {
   --ls-background-color: #fff;
   --ds-background-color: #313037;
   --ls-primary-color: #313037;
   --ds-primary-color: #fff;

   --primary-title-color: var(--ls-primary-color);
}

@media (prefers-color-scheme: dark) {
   #root {
      --background-color: var(--ds-background-color);
      --primary-title-color: var(--ds-primary-color);
   }
}
