#root {
   --ls-background: #fff;
   --ds-background: #313037;
   --ls-primary-color: #313037;
   --ds-primary-color: #fff;
   --primary-title: var(--ls-primary-color);
   --ls-first-item: #f4eefd;
   --ds-first-item: #4a794a;
   --first-item: var(--ls-first-item);
   --ls-second-item: #d7e4fd;
   --ds-second-item: #255d6b;
   --second-item: var(--ls-second-item);
   --ls-border: #e7e7e7;
   --ds-border: #eec511;
   --border: var(--ls-border);
   --ls-ui-item: #313037;
   --ds-ui-item: #252330;
   --ui-item: var(--ls-ui-item);
}

@media (prefers-color-scheme: dark) {
   #root {
      --background: var(--ds-background);
      --primary-title: var(--ds-primary-color);
      --first-item: var(--ds-first-item);
      --second-item: var(--ds-second-item);
      --border: var(--ds-border);
      --ui-item: var(--ds-ui-item);
   }
}
