.block {
   background-color: #f4eefd;
   padding: 40px 80px 0 80px;
}

.form {
   display: flex;
   margin-bottom: 60px;
}

.input {
   display: block;
   font-size: 16px;
   line-height: 32px;
   padding: 12px 20px;
   outline: none;
   border: 1px solid #e7e7e7;
   max-width: 766px;
   width: 100%;
   margin-bottom: 60px;
}

.title {
   font-size: 40px;
   color: #313037;
   text-transform: uppercase;
   margin-bottom: 5px;
   padding: 0;
}

.text {
   color: #a8a8a8;
   font-size: 18px;
   font-weight: 600;
   letter-spacing: 0.04em;
   margin: 0 0 30px 0;
}

.button {
   height: 58px;
   padding: 0 40px;
   text-transform: uppercase;
}

.button:hover,
:active {
   background-color: none;
   box-shadow: none;
}

@media (max-width: 568px) {
   .form {
      flex-direction: column;
      margin-bottom: 0;
   }
   .input {
      max-width: 200px;
      width: 100%;
      margin: 0;
   }
   .button {
      margin: 0;
   }
   .title {
      font-size: 28px;
   }
   .text {
      font-size: 16px;
   }
   .block {
      padding: 24px;
   }
}
