.wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   margin: 0 auto 120px;
}

@media (min-width: 320px) and (max-width: 1200px) {
   .wrapper {
      justify-content: center;
   }
}
