.wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   max-width: 1120px;
   width: 100%;
   margin: 0 auto 120px;
}

@media (max-width: 568px) {
   .wrapper {
      justify-content: center;
   }
}
