.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px 0 0 0;
   border-bottom: 1px solid #e7e7e7;
}

.form {
   position: relative;
   max-width: 650px;
   width: 100%;
}

.button {
   position: absolute;
   right: 135px;
   top: 18px;
   background-color: white;
   border: none;
   padding: 0;
   font-size: 0;
   width: 40px;
   cursor: pointer;
}

.button:hover,
:active {
   background-color: white;
   box-shadow: 4px 4px 30px white;
}

.nav {
   display: flex;
   justify-content: space-between;
   max-width: 70px;
   width: 100%;
}

.notificationContainer {
   position: relative;
}

.pic {
   position: absolute;
   top: -13px;
   right: 0px;
}

.logoName {
   text-transform: uppercase;
   color: #313037;
   font-size: 35px;
   font-weight: 600;
}

.link {
   text-decoration: none;
}

.input {
   max-width: 500px;
   width: 100%;
}

@media (max-width: 568px) {
   .wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 24px 0;
   }
   .logoName {
      font-size: 28px;
   }
   .input {
      max-width: 80px;
      width: 100%;
   }
}
