.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px 0 0 0;
   border-bottom: 1px solid #e7e7e7;
}

.group {
   flex-basis: 16%;
   display: flex;
   justify-content: space-between;
   width: 100%;
}

@media (max-width: 820px) {
   .wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 0 24px 0;
   }
}

@media (max-width: 568px) {
   .wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 0 24px 0;
   }
}
