.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 35px;
   border-top: 1px solid #e7e7e7;
   max-width: 1120px;
   width: 100%;
   margin: 0 auto;
}

.text {
   display: block;
   padding: 35px 0;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   color: #a8a8a8;
}

@media (max-width: 568px) {
   .wrapper {
      flex-direction: column;
   }
   .text {
      font-size: 12px;
      padding: 0;
   }
   .text:first-child {
      padding-top: 20px;
   }
   .text:last-child {
      padding-bottom: 20px;
   }
}
