.button {
   cursor: pointer;
   width: 100px;
   height: 60px;
   position: relative;
   background-color: var(--background);
   border: none;
}

.button:active {
   background-color: var(--background);
}

.button div {
   position: relative;
   top: 0;
   width: 80px;
   height: 3px;
   background-color: var(--icon);
   left: 0;
   display: block;
}
.button div::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 3px;
   top: -12px;
   right: 53px;
   background-color: var(--icon);
   transform: rotate(135deg);
}
.button div::before {
   content: "";
   position: absolute;
   width: 30px;
   height: 3px;
   top: 12px;
   right: 53px;
   background-color: var(--icon);
   transform: rotate(-135deg);
}

@media (max-width: 568px) {
   .button {
      margin: 40px 0 0 0;
   }
}
