.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 522px;
   width: 100%;
   border: 1px solid #e7e7e7;
   margin: 108px auto 205px;
   padding: 0 32px 40px;
}

.button {
   margin-top: 20px;
   max-width: 522px;
   width: 100%;
}

.nav {
   border-bottom: 1px solid #e7e7e7;
   margin-bottom: 32px;
   max-width: 586px;
   width: 100%;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 700;
   padding: 26px 0 20px;
   text-align: center;
   display: flex;
   justify-content: space-around;
}

.register,
.login {
   color: #a8a8a8;
   text-decoration: none;
}

.login:hover,
.login:active,
.register:hover,
.register:active {
   color: #313037;
}

.input {
   display: block;
   width: 480px;
   font-size: 16px;
   line-height: 32px;
   padding: 12px 20px;
   outline: none;
   border: 1px solid #e7e7e7;
   margin-bottom: 20px;
}

.input:focus {
   outline: 2px solid #e7e7e7;
}

.label {
   font-size: 16px;
   line-height: 32px;
   font-weight: 700;
}

@media (max-width: 568px) {
   .form {
      border: none;
      padding: 0;
      margin-bottom: 40px;
   }
   .input {
      width: 232px;
   }
   .login:after {
      width: 124px;
      left: -10%;
   }
}
