.cartList {
   display: flex;
   flex-direction: column;
}

.link {
   background-color: #f4eefd;
}

.wrapper {
   position: relative;
   margin-bottom: 20px;
   border-bottom: 1px solid #e5e5e5;
}

.container {
   display: flex;
   margin-bottom: 20px;
}

.link {
   margin-right: 20px;
}

.pic {
   color: #d7e4fd;
   max-width: 226px;
   width: 100%;
}

.containerDescription {
   max-width: 550px;
   width: 100%;
}

.title {
   margin: 25px 0 10px 0;
   padding: 0 10px;
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   color: var(--primary-title);
}

.subTitle {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   margin: 0 0 30px 0;
   padding: 0 10px;
   color: #a8a8a8;
}

.containerAmount {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 180px;
}

.amount {
   font-size: 44px;
   font-weight: 700;
   margin: 0 25px;
   color: var(--primary-title);
}

.price {
   font-size: 40px;
   font-weight: 700;
   color: var(--primary-title);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 260px;
   margin-left: 100px;
}

.button {
   margin: 5px 10px 0 10px;
   background-color: var(--background);
   width: 40px;
   height: 40px;
   box-shadow: none;
   position: relative;
}

.btnRemove {
   position: relative;
   width: 40px;
   height: 3px;
   background-color: var(--icon);
}

.btnAddItem {
   position: relative;
   width: 40px;
   height: 3px;
   background-color: var(--icon);
}

.btnAddItem::after {
   position: absolute;
   content: "";
   width: 40px;
   height: 3px;
   right: 0;
   background-color: var(--icon);
   transform: rotate(90deg);
}

.button:hover,
.button:active {
   background-color: var(--background);
   box-shadow: none;
}

.buttonDelete {
   margin: 5px 10px 0 10px;
   background-color: var(--background);
   box-shadow: none;
}

.buttonDelete:hover {
   background-color: var(--background);
   box-shadow: none;
}

.btnDelete {
   position: absolute;
   right: 30px;
   top: 110px;
   cursor: pointer;
}

.btnDelete:before,
.btnDelete:after {
   position: absolute;
   left: 15px;
   content: " ";
   height: 23px;
   width: 2px;
   background-color: var(--icon);
}
.btnDelete:before {
   transform: rotate(45deg);
}
.btnDelete:after {
   transform: rotate(-45deg);
}

.containerTotalPrice {
   max-width: 500px;
   width: 100%;
   margin-left: auto;
}

.totalPrice {
   font-size: 55px;
   font-weight: 700;
   line-height: 60px;
   margin-bottom: 20px;
   color: var(--primary-title);
}

@media (max-width: 750px) {
   .container {
      flex-direction: column;
      position: relative;
   }
   .buttonDelete {
      position: absolute;
      top: 0%;
      right: 8%;
      background-color: #f4eefd;
      margin: 0;
      padding: 0;
   }
   .price {
      margin: 0;
      display: block;
      align-items: flex-start;
   }
}
