.container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.btnPagRight {
   background-color: var(--background);
   border: none;
   margin-right: 0;
}

.btnPagLeft {
   background-color: var(--background);
   border: none;
   margin-left: 0;
   align-self: center;
}

.btnPagRight:hover,
.btnPagLeft:hover,
.btnToRightPage:hover,
.btnCurrentPage:hover {
   background-color: var(--background);
   box-shadow: none;
}

.pages {
   display: flex;
}

.btnToRightPage {
   background-color: var(--background);
   border: none;
   color: #a8a8a8;
   padding: 0 20px;
}

.btnCurrentPage {
   background-color: var(--background);
   border: none;
   color: var(--icon);
   font-size: 30px;
   font-weight: 700;
}

.leftIcon,
.rightIcon {
   cursor: pointer;
   width: 100px;
   height: 60px;
   position: relative;
   background-color: var(--background);
   border: none;
}

.leftIcon:active,
.rightIcon:active {
   background-color: var(--background);
}

.leftIcon div,
.rightIcon div {
   position: relative;
   width: 60px;
   height: 5px;
   background-color: var(--icon);
   top: 50%;
}

.rightIcon div {
   left: 35px;
}

.leftIcon div::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 5px;
   top: -9px;
   right: 36px;
   background-color: var(--icon);
   transform: rotate(135deg);
}
.leftIcon div::before {
   content: "";
   position: absolute;
   width: 30px;
   height: 5px;
   top: 9px;
   right: 36px;
   background-color: var(--icon);
   transform: rotate(-135deg);
}

.rightIcon div::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 5px;
   top: -9px;
   left: 38px;
   background-color: var(--icon);
   transform: rotate(45deg);
}
.rightIcon div::before {
   content: "";
   position: absolute;
   width: 30px;
   height: 5px;
   top: 9px;
   left: 38px;
   background-color: var(--icon);
   transform: rotate(-45deg);
}
