.container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.btnToRightPage:hover,
.btnCurrentPage:hover {
   background-color: white;
   box-shadow: 4px 4px 30px white;
}

.pages {
   display: flex;
}

.btnToRightPage {
   background-color: white;
   border: none;
   color: #a8a8a8;
   padding: 0 20px;
}

.btnCurrentPage {
   background-color: white;
   border: none;
   color: #313037;
   font-size: 30px;
   font-weight: 700;
}
