.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.button {
   max-width: 350px;
   width: 100%;
   margin-bottom: 50px;
   font-size: 16px;
   font-weight: 400;
   text-transform: lowercase;
   margin: 0 0 50px 0;
}

.link {
   text-decoration: none;
   cursor: pointer;
   display: block;
   margin-bottom: 50px;
   font-size: 30px;
   color: #5b5a62;
   flex: 0 0 40%;
   text-align: center;
}

.link:hover {
   color: var(--icon);
   font-weight: 600;
}
