.form {
   display: flex;
   flex-direction: column;
}

.groupProfile {
   display: flex;
   justify-content: space-between;
   margin-bottom: 48px;
}

.groupNewPassword {
   display: flex;
   justify-content: space-between;
   margin-bottom: 72px;
}

.line {
   border-bottom: 1px solid #e7e7e7;
   margin-bottom: 48px;
}

.title {
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   text-transform: uppercase;
   margin-bottom: 16px;
}

.button {
   display: flex;
   align-self: end;
   max-width: 522px;
   width: 100%;
   margin-bottom: 72px;
}

.buttonCancel,
.buttonSaveChanges {
   width: 240px;
}

.buttonSaveChanges {
   margin-left: 0;
}

.buttonCancel {
   color: #313037;
   margin-right: 0;
   background-color: white;
   border: 1px solid #e7e7e7;
}

.buttonCancel:hover,
:active {
   background-color: white;
   box-shadow: 4px 4px 30px #dbd9e4;
}
