.button {
   margin: 0 auto;
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: white;
   background-color: #313037;
   transition: 0.3s linear;
   border: none;
   width: 100%;
   cursor: pointer;
}

.button:hover,
:active {
   background-color: #5b5a62;
   box-shadow: 4px 4px 30px #5b5a62;
}
